<app-header></app-header>
<div class="products-box">
    <div class="container">        
        <div class="row special-list">
            <div class="col-lg-3 col-md-6 special-grid best-seller" *ngFor = "let product of items">
                <div class="products-single fix">
                    <div class="box-img-hover">
                        <div class="type-lb">
                            <p class="sale">Sale</p>
                        </div>                        
                        <img src={{product.image}} class="img-fluid" alt="Image">
                        <div class="mask-icon">                            
                            <a class="cart" (click)='addProduct(product)'>Add to Cart</a>
                        </div>
                    </div>
                    <div class="why-text">
                        <h4>{{product.name}}</h4>
                        <h5>{{product.price}}</h5>
                    </div>
                </div>
            </div>            
        </div>
    </div>
  </div>
  <app-footer></app-footer>