<app-header></app-header>
<div class="latest-blog">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="title-all text-center">
                    <h1>About Us</h1>
                    <p>The Organic World was started with the mission to make a positive and progressive difference to the world we live in. Locally sourced and organically grown produce benefit individuals and communities. Organic Products are often associated only with fruits & vegetables, grocery and dairy & farm products. ...</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-4 col-xl-4">
                <div class="blog-box">
                    <div class="blog-img">
                        <img class="img-fluid" src="../../../assets/images/Apple.jpeg" alt="" />
                    </div>                    
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-4">
                <div class="blog-box">
                    <div class="blog-img">
                        <img class="img-fluid" src="../../../assets/images/Banana.jpeg" alt="" />
                    </div>                    
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-4">
                <div class="blog-box">
                    <div class="blog-img">
                        <img class="img-fluid" src="../../../assets/images/Brinjal.jpeg" alt="" />
                    </div>                    
                </div>
            </div>
        </div>
    </div>
  </div>

  <app-footer></app-footer>